<% provide(:title, 'Welcome Twitter') %> <!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
</head>

<body>
  <div class="center hero-unit">
    <h1>Welcome to Twitter</h1>
    
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %> </div>
    
</body>
</html>